@import "tailwindcss";

@theme {
  /* ألوان Life OS - Pro الرسمية */
  --color-background: #021526;
  --color-sidebar: #051c33;
  --color-primary: #8B0000;      /* الأحمر بتاعنا */
  --color-primary-hover: #660000;
  --color-accent: #3b82f6;       /* الأزرق بتاع النقطة */
  --color-text-main: #E2E8F0;
  --color-surface-border: rgba(255, 255, 255, 0.05);
}
